*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
img{
    vertical-align: top;
    border: none;
}
.swiper{
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.swiper ul{
    width: calc(500px * 6);
    height: 100%;
    position: absolute;
}
.swiper ul li{
    width: 500px;
    height: 500px;
    float: left;
}
.swiper ul li img{
    width: 100%;
    height: 100%;
}
.swiper .bigBtn{
    width: 500px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.swiper .bigBtn span{
    width: 50px;
    height: 50px;
    background-color: #ccc;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    float: left;
    cursor: pointer;
}
.swiper .bigBtn span:last-child{
    float: right;
}
.swiper ol{
    width: 130px;
    height: 30px;
    position: absolute;
    bottom: 30px;
    left: 50%; 
    transform: translate(-50%, 0);
}
.swiper ol li{
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    float: left;
    margin: 3px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.swiper ol li.active{
    background-color: hotpink;
}
